
<head>
	<meta charset="UTF-8">
	<title>Document</title>		


<div class= "topbanner"></div>

	<body>

		<div class= "controlscontainer">
			   <ul id="nav">
      <li><a href="#">Acerca de mi</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Inicio</a></li>


   </ul>


		<div id="controls">

			<img id="testpicture" class="filter-targ" src="assets/pic4.jpg" alt="">

			<div class= "controlbuttons">
					<button class= "button" id= "blur">Blur</button>
					<button class= "button" id="sharpen">Sharpen</button>
					<button class= "button" id = "edges" >Edges</button>
					<button class= "button" id= "emboss" >Emboss</button>
					<button class= "button" id = "greyscale" >Greyscale</button>
					<button class= "button" id = "tint" >Tint</button>
			</div>



		</div>
					<div class="slidercontainer">
						<canvas id="canvas"></canvas>
						<div id="slider"></div>
						<div class= "mockingbird">
							<input class= "mockslider" type= "range">
							<input class= "mockslider"type= "range">				<input class= "mockslider" type= "range">
							<input class= "mockslider"type= "range">				<input class= "mockslider" type= "range">
							<input class= "mockslider"type= "range">				<input class= "mockslider" type= "range">
							<input class= "mockslider"type= "range">
							<input type= "file" id= "upload" >
						</div>



					</div>
		</div>
	</body>
