<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>		


<div class= "topbanner"></div>
<header class="menubar">
				<a href="" class="toplink">log in</a>
				<a href="" class="toplink">sign up</a>
				<a href="" class="toplink">about us</a>
</header>
	<body>

		<div class= "controlscontainer">

			<aside class= "buttonscontainer">
			  <a class="button">Vintage</a>
			  <a class="button">Lomo</a>
			  <a class="button">Clarity</a>
			  <a class="button">Sin City</a>
			  <a class="button">Sunrise</a>
			  <a class="button">Cross Process</a>
			  <a class="button">Orange Peel</a>
			  <a class="button">Love</a>
			  <a class="button">Grungy</a>
			  <a class="button">Jarques</a>
			  <a class="button">Pinhole</a>
			  <a class="button">Old Boot</a>
			  <a class="button">Glowing Sun</a>
			  <a class="button">Hazy Days</a>
			  <a class="button">Her Majesty</a>
			  <a class="button">Nostalgia</a>
			  <a class="button">Hemingway</a>
			  <a class="button">Concentrate</a>
			</aside>

					<div class="slidercontainer">
						<canvas id="canvas"></canvas>
						<div id="slider"></div>
						<div class= "mockingbird">
							<input class= "mockslider" type= "range">
							<input class= "mockslider"type= "range">				<input class= "mockslider" type= "range">
							<input class= "mockslider"type= "range">				<input class= "mockslider" type= "range">
							<input class= "mockslider"type= "range">				<input class= "mockslider" type= "range">
							<input class= "mockslider"type= "range">
							<input type= "file" id= "upload" >
						</div>
					</div>
		</div>
	</body>


</html>