<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>		


<div class= "topbanner"></div>
<header class="menubar">
				<a href="" class="toplink">log in</a>
				<a href="" class="toplink">sign up</a>
				<a href="" class="toplink">about us</a>
</header>
	<body>

		<div class="controlscontainer">
			<aside class= "textcontainer"></aside>
			<canvas id="canvas"></canvas>
				<p>
    			<label for="amount">Brightness</label>
				</p>
				<div id="slider"></div>
				<div class= "mockingbird">
				<input class= "mockslider" type= "range"> 
				<input class= "mockslider"type= "range">				<input class= "mockslider" type= "range">
				<input class= "mockslider"type= "range">				<input class= "mockslider" type= "range">
				<input class= "mockslider"type= "range">				<input class= "mockslider" type= "range">
				<input class= "mockslider"type= "range">
				<input type= "file" id= "upload" >
			</div>
		</div>
	</body>


</html>