


<!--<div>
	<img id="hidei"/>
</div>
-->


<!-- si pongo una imagen hidden y la copio a otro div, trabajo sobre ese div, podria llamar la imagen base con una funcionn javascript para activar el reset -->


	<body>
		<div  class= "centerdiv">
		
	<img id="uppic" class= "imageoutp" src="<%= @photo.image.url(:original) %>"/>
			

			<div  class= "controlbuttons">
					<button class= "button" id = "blur">Blur</button>
					<button class= "button" id ="sharpen">Sharpen</button>
					<button class= "button" id = "greyscale" >Greyscale</button>
					<button class= "button" id = "tint" >Tint</button>
					<button class= "button" id = "mosaic" >Mosaic</button>
					<button class= "button" id = "sepia" >Sepia</button>
					<button class= "button" id = "semos">Sepia+Mosaic</button>

					<div id="fb-root"></div>
					<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="true" data-auto-logout-link="true"></div>
					<div id="status">	
					<div class="fb-like" data-width="450"> </div> <%= link_to 'Back', photos_path %>
					</div>


			</div>


		</div>
	</body>