// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require jquery-ui


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.topbanner {
	background-image: url("pic4.jpg");
	background-size: cover;
	height: 250px;
	width: auto

}

.menubar{
	padding:0.8% 5% 0.8% 0;
	border-color: black;
	border: solid 1px;
	background-color: gray

}
.toplink{
	padding-left: 20%

}

html {

}
canvas{
margin-top: 1%
}
body {
background-color: brown;
}
aside {
margin: 1%
}

#slider {
	width: 40%


}
#upload {
	padding: 15px

}
.mockslider{
	margin: 20px;


}
.mockingbird {
	width: 40%;


}

.controlscontainer {
	background-color:white;
	margin-left: 7%;
	margin-right: 7%
}
.textcontainer {
	float:right;
	background-color:gray
}